/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
  margin: 75px auto;
   width: 60%;
  /* #ccc is shorthand HEX for a light grey */
  background: #808080;

}

h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #ffffff;
}


p{
    color: #ffffff;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

img {
   border:1px solid #ffffff;
   display: block;
   margin: auto;
   width: 40%;
}
