/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
   /* #ccc is shorthand HEX for a light grey */
   background-image: url("background.png");
   margin: 0;
}

h1{
   margin: 0;
   text-align: center;
   font-size: 300%;
   padding-top: 200px;
   font-weight: bold;
}

p {
  margin: 0;
  text-align: center;
  font-size: 125%;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.container {
   width: 900px;
   height: 100px;
   margin: 0 auto;
}

header {
   background-image: url("sunset.jpg");
   opacity: 0.8;
   width: 900px;
   height: 400px;
}

.content {
   display: flex;
}

.content section {
   padding: 1em;
   flex: 3 3 0;
   text-align: center;
   padding-top: 50px;
}

.content section:first-of-type {
   flex: 1 1 0;
}
