/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
   /* #ccc is shorthand HEX for a light grey */
   background: #fff;
   margin: 0;
}

h1, p {
   margin: 0;
   text-align: center;
}

.container {
   width: 900px;
   height: 600px;
   margin: 0 auto;
}

header {
   background-image: url("sunset.jpg");
   opacity: 0.8;
   width: 900px;
   height: 600px;
}

.content {
   display: flex;
}

.content section {
   padding: 1em;
   flex: 3 3 0;
   text-align: center;
}

.content section:first-of-type {
   flex: 1 1 0;
}
